<div class="dropdown dropdown-c">
    <a href="#" class="logged-user" data-toggle="dropdown">
        <img src="http://via.placeholder.com/500x500" alt="">
        <span>用户名称</span>
        <i class="fa fa-angle-down"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <nav class="nav">
            <a href="page-profile.html" class="nav-link"><i class="icon ion-person"></i> 查看个人项目</a>
            <a href="page-edit-profile.html" class="nav-link"><i class="icon ion-compose"></i> 编辑个人项目</a>
            <a href="page-activity.html" class="nav-link"><i class="icon ion-ios-bolt"></i> 活动日志</a>
            <a href="page-settings.html" class="nav-link"><i class="icon ion-ios-gear"></i> 帐户设置</a>
            <a href="/admin/login/logout.html" class="nav-link"><i class="icon ion-forward"></i> 退出</a>
        </nav>
    </div><!-- dropdown-menu -->
</div><!-- dropdown-user -->