<div class="slim-footer">
    <div class="container">
        <p>版权所有 2018 &copy;. 四川蓝光集团.观岭.高尔夫球会</p>
        <p>开源第三方: <a href="">ThemePixels</a></p>
    </div><!-- container -->
</div><!-- slim-footer -->

<script src="/static/lib/jquery/js/jquery.js"></script>
<script src="/static/lib/popper.js/js/popper.js"></script>
<script src="/static/lib/bootstrap/js/bootstrap.js"></script>
<script src="/static/lib/jquery.cookie/js/jquery.cookie.js"></script>
<script src="/static/lib/chartist/js/chartist.js"></script>
<script src="/static/lib/d3/js/d3.js"></script>
<script src="/static/lib/rickshaw/js/rickshaw.min.js"></script>
<script src="/static/lib/jquery.sparkline.bower/js/jquery.sparkline.min.js"></script>

<script src="/static/js/ResizeSensor.js"></script>
<script src="/static/js/dashboard.js"></script>
<script src="/static/js/slim.js"></script>
</body>
</html>